body {
    color:white;
    font-family: "Roboto", sans-serif;
}
nav img {
    height: 1em;
}
.card {
    color:white
}
.card img {
    height: 207px;
}
.btn {
    color: white;
}
footer i {
    color: white;
    font-size: 2em;
}
